// Dracula color scheme
//$background-color: #282a36;
//$link-color: #ff79c6;
//$text-color: #f8f8f2;
//$heading-color: #bd93f9;

// Custom color scheme
$background-color: rgba(245,242,240,0.168627);
$link-color: #d13812;
$text-color: black;
$heading-color: #cb4b16;

html,
body {
	background: $background-color;
	color: $text-color;
        font-family: Helvetica, Roboto, Arial, sans-serif;
        font-size: 18px;
        line-height: 1.6em;
	margin: auto;
	max-width: 50rem;
}

blockquote {
    font-style: italic;
}

.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
    word-spacing: 200%;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}

a,
a:visited {
	color: $link-color;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
pre {
	overflow: scroll;
	padding: 1rem;
}

img {
	height: auto;
	max-width: 100%;
}
