// Dracula color scheme
$background-color: #282a36;
$link-color: #ff79c6;
$text-color: #f8f8f2;
$heading-color: #bd93f9;

// Solarized light color scheme
//$background-color: #fdf6e3;
//$link-color: #cb4b16;
//$text-color: #657b83;
//$heading-color: #859900;

html,
body {
	background: $background-color;
	color: $text-color;
        font-family: Helvetica, Roboto, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.6em;
	margin: auto;
	max-width: 50rem;
}

blockquote {
    font-style: italic;
}

.posts_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}

a,
a:visited {
	color: $link-color;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
pre {
	overflow: scroll;
	padding: 1rem;
}

img {
	height: auto;
	max-width: 100%;
}
