<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}" />


{% if page %}
  <title>{% block title %}{{ page.title }} {% endblock title %}</title>
{% else %} <!-- it must be a section then -->
  <title>{% block title %}{{ section.title }}{% endblock title %}</title>
{% endif %}

{% block seo %}
  <meta property="og:site_name" content="{% block ogsitename %}{{config.title}}{% endblock ogsitename %}">
  <meta property="og:title" content="{% block ogtitle %}{{config.title}}{% endblock ogtitle %}">
  <meta property="og:description" content="{% block ogdesc %}{{config.description}}{% endblock ogdesc %}">
  <meta property="og:url" content="{% block ogurl %}{{config.base_url | safe }}{% endblock ogurl %}">
  <meta property="og:image" content="{% block ogimage %}{% if config.extra.ogimage %}{{ get_url(path=config.extra.ogimage) | safe }}{% endif %}{% endblock ogimage %}">
 {% if page.date -%}
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="{{ page.date | date(format="%+") }}" />
 {%- endif %}

 {% if page.earlier -%}
  <link rel="prev" href="{{ page.earlier.permalink | safe }}" />
 {%- endif %}
 {% if page.later -%}
  <link rel="next" href="{{ page.later.permalink | safe }}" />
 {%- endif %}
{%- endblock seo -%}

{% set data = load_data(path="public/style.css", format="plain") %}
  <style>
{{ data | safe }}
  </style>

</head>

<body>
<div>

<header>
    <h1><a href="{{ config.base_url | safe }}">{{ config.title }}</a></h1>
    <h2>{{ config.description }}<h2>
</header>

<hr />
<main>
  {% block content %} {% endblock %}
</main>

<hr />

<nav>
  <ul id="navbar-list">
      {% set about_page = get_page(path="about.md") %}
      <li><a href="{{ about_page.permalink }}">About</a></li>
  </ul>
</nav>
<footer>
</footer>

</div>
</body> 

</html>
