{% extends "base.html" %}

{% block content %}
<h3>
  My recommended blog posts.
</h3>
<ul class="posts-list">
  <li><a href="https://www.blog.khrynczenko.com/posts/post-2021-02-16-taking-advantage-of-the-type-system-in-c-plus-plus/">
    Taking advantage of the type system (in C++)
  </a></li>
  <li><a href="https://www.blog.khrynczenko.com/posts/post-2021-09-24-output-parameters/">
      Revisiting output parameters usefulness (in C++)
  </a></li>
</ul>

<h3>
  My newest blog posts.
</h3>
<ul class="posts-list">
  {% set max_posts_visible = 10 %}

  {% set posts_section = get_section(path="posts/_index.md") %}
  {% for page in posts_section.pages | slice(end=max_posts_visible) %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
  {% if posts_section.pages | length > max_posts_visible %}
  <li><a href="{{ posts_section.permalink | safe }}">...</a></li>
  {% endif %}
</ul>
<p>Click <a href="/posts/">here</a> to see all my blog posts.</p>
{% endblock content %}

