{% extends "base.html" %}

{% block content %}
<h4>
  My newest blog posts.
</h4>
<ul class="posts_list">
  {% set max_posts_visible = 10 %}

  {% set posts_section = get_section(path="posts/_index.md") %}
  {% for page in posts_section.pages | slice(end=max_posts_visible) %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
  {% if posts_section.pages | length > max_posts_visible %}
  <li><a href="{{ posts_section.permalink | safe }}">...</a></li>
  {% endif %}
</ul>
<p>Click <a href="/posts/">here</a> to see all my blog posts.</p>
{% endblock content %}

